*
	font-family: 'Roboto', Arial, sans-serif

body
	min-width: 320px
	color: $darkGray
	background: $lightGray
	font-family: 'Roboto', Arial, sans-serif
	font-size: 14px
	line-height: 1.3

html,
body,
	height: 100%

.out
	display: flex
	flex-direction: column
	height: 100%

.container
	overflow: auto
	flex-grow: 1
	height: 100%
	&_simple
		padding: 30px
		+xs
			padding: 0
			height: auto

.inner 
	padding: 20px
	margin: 0 auto
	max-width: 1024px
	width: 100%
	&_lg 
		max-width: 1200px
	&_wide
		max-width: none