<!-- begin modal -->
<div class="modal modal_sm" data-modal="back-to-main">
	<div class="modal__container" data-modal-container>
		<div class="modal-content">
			<div class="modal-content__row">
				<div class="modal-content__col">
					<button class="btn btn_green btn_wide" data-animation="ripple" data-modal-close>Keep changes</button>
				</div>
				<div class="modal-content__col">
					<button class="btn btn_red btn_wide" data-animation="ripple" data-modal-close>Discard changes</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end modal -->