.file-system
	overflow: auto
	padding: 15px 0
	border: 1px solid $darkGray
	height: 300px
	background: $white
	&__control
		position: relative
		display: block
		padding: 5px 10px
		color: $darkGray
		font-size: 14px
		cursor: pointer
		transition: color 0.25s
		+hover
			color: $blue
			.file-system
				&__folder
					fill: $blue
				&__arrow
					border-left-color: $blue
			&:before
				background: $blue
		&[data-system-control]
			padding-left: 30px
			&.is-hidden
				.file-system
					&__folder
						&_closed
							display: block
						&_opened
							display: none
					&__arrow
						transform: rotate(0deg)
		&_main
			padding-left: 15px
			&:before
				content: ''
				position: absolute
				top: 11px
				left: 0
				border-radius: 50%
				width: 6px
				height: 6px
				background: $darkGray
				transition: background 0.25s
	&__folder,
	&__arrow
		position: absolute
		top: 50%
		left: 10px
	&__folder
		margin-top: -0.6em
		fill: $darkGray
		font-size: 13px
		transition: fill 0.25s
		&_closed
			display: none
	&__arrow
		margin-top: -5px
		+arr(6, 10, $darkGray, r)
		transform: rotate(90deg)
		transition: border-color 0.25s
	&__content
		&[data-system-content]
			display: block
			&.is-hidden
				display: none
		.file-system__content
			padding-left: 20px