.form
	margin: 0 auto
	&_sm 
		max-width: 400px
	&_md
		max-width: 600px
	&_box
		padding: 30px
		background: $white
		box-shadow: 0 14px 28px rgba($black,0.25), 0 10px 10px rgba($black,0.22)
		+xs
			padding: 0
			background: none 
			box-shadow: none
	&__section
		&:not(:last-child)
			padding-bottom: 20px
	&__footer
		padding-top: 10px
