.home
	padding: 30px
	border: 1px solid #ccc
	background: $white
	&:not(:last-child)
		margin-bottom: 20px
	&__title
		padding-bottom: 20px
		font-size: 24px
		font-weight: 700
	&__list 
		li
			display: inline-block
			vertical-align: top
			padding: 0 20px 0 0
			font-size: 16px