.items
	margin: -10px
	font-size: 0
	&__col
		display: inline-block
		vertical-align: top
		padding: 10px
		width: 25%
		+md 
			width: 33.33%
		+sm 
			width: 50%
		+xs 
			width: 100%

$titleSize: 28px
$titleWeight: 500
$titleLH: 1

.item
	position: relative
	display: block
	padding-bottom: 80%
	border: 1px solid rgba($darkGray, 0.2)
	border-radius: 3px
	background: $lightGray
	&__img 
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		padding: 20px
		+vertical 
		img
			display: inline-block
			vertical-align: middle
			max-width: 100%
			max-height: 100%